<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenhan.mytravelsystem.dao.HotelMapper">

    <select id="getHotelInfoByName" resultType="com.chenhan.mytravelsystem.model.HotelModel">
        select region , hotel_name as hotelName , price ,`time`, comment from nice_hotel_info
    </select>

</mapper>
